@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'FontAwesome';
	src: url('../fonts/fontawesome-webfont.eot');
	src: local('☺'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype'), url('../fonts/fontawesome-webfont.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{font-family: 'Roboto-Regular';background: #f5f5f5;}
header .navbar{padding: .5rem 0;}
header nav.navbar .navbar-brand{color:#fff;}
section.todo-outer {
    width: 100%;
    float: left;
    padding: 30px 0;
}

.to-do-output{
    padding-top: 30px;
}

section.todo-outer h1 {
    font-size: 53px;
    margin-bottom: 20px;
}
/* .todo-inner {
    width: 100%;
    float: left;
    padding: 40px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
} */

/* .todo-inner {
    width: 100%;
    float: left;
    padding: 19px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
} */

.todo-inner {
    width: 883px;
    float: left;
    padding: 19px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background: #fff;
}


table tr td button {
    background: no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}
.completed{text-decoration: line-through;}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }

  .dropdown{
    width: 448px;
    height: 302px;
    position: absolute;
    /* border: 2px solid red; */
    left: 125px;
    top: 246px;
  }
  #cars{
    width: 443px;
    height: 77px;
    text-align: center;
    font-size: 60px;
    border-radius: 10px;
    background-color: #6c757d;;
  }

  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modall {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 76px;
    font-size: xxx-large;
    border: 4px solid #ff0909;
    width: 37%;
    border-radius: 30px;
  }
  .modal-contentt {
    background-color: #fefefe;
    margin: auto;
    padding: 76px;
    font-size: xxx-large;
    border: 4px solid #ff0909;
    width: 37%;
    border-radius: 30px;
  }
  
  /* The Close Button */
  .close {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 95px;
  }
  .closee {
    color: green;
    float: right;
    font-size: 28px;
    font-weight: bold;
    width: 95px;
  }
  
  .ok:hover,
  .ok :focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .okk:hover,
  .okk :focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  form{
    position: relative;
    width: 200px;
}

form input {
    width: 100%;
    padding-right: 20px;
    box-sizing: border-box;
}

form input:placeholder-shown + button{
  opacity: 0;
  pointer-events: none;
} 

form button {
    position: absolute;
    border: none;
    display: none;
    width: 59px;
    height: 53px;
    line-height: 48px;
    font-size: 68px;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    text-decoration: none;
    left: 470px;
    margin: auto;
    background: #ddd;
    padding: 0;
    outline: none;
    cursor: pointer;
    transition: .1s;
}
.search_icon{
    height: 61px;
    width: 51px;
    position: absolute;
    bottom: 2px;
    left: 353px;

}